/* estilos de cabecera y barra de navegacion */
/* color de titulos como "vaccine" #2b4bc9 */
/* color de botones de la navbar #6d7b93 */
/* color del boton morado en la nav bar background: linear-gradient(to right, #3959d7, #2646c4); */

header {
    width: 100%;
    height: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #eee;
}

/* estilos de la parte del logo */

.logo {
    text-align: center;
    flex-grow: 2;
    padding: 10px 20px;
    margin: 0px 10px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #2b4bc9;
}

/* estilos de los botones de navegacion */

#menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px 20px;
}

#menu a {
    margin-right: 20px;
    padding: 10px;
    color: #6d7b93;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: all 300ms;
}

#menu a:hover {
    color: #bbb;
}

/* estilos del boton a la derecha de la navbar */

#boton-navbar {
    flex-grow: 1;
    padding: 10px 20px;
}

#boton-navbar a{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(to right, #3959d7, #2646c4);
    transition: all 300ms;
}

#boton-navbar a:hover {
    color: #eee;
    box-shadow: 6px 6px 10px #ccc;
    box-shadow: -3px -3px 10px #ccc;
}