/* estilos de cabecera y barra de navegacion */
/* color de titulos como "vaccine" #2b4bc9 */
/* color de botones de la navbar #6d7b93 */
/* color del boton morado en la nav bar background: linear-gradient(to right, #3959d7, #2646c4); */

header {
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

/* estilos de la parte del logo */

.logo {
    text-align: center;
    flex-grow: 2;
    padding: 10px 20px;
    margin: 0px 10px;
}

.logo a{
    text-decoration: none;
    color: #2b4bc9;
}

/* estilos de los botones de navegacion */

#menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px 20px;
}

#menu a {
    margin-right: 20px;
    padding: 10px;
    color: #6d7b93;
    text-decoration: none;
}

/* estilos del boton hasta la izquierda de la navbar */

#boton-navbar {
    flex-grow: 1;
    padding: 10px 20px;
}

#boton-navbar a{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(to right, #3959d7, #2646c4);
}