/* estilos de la pagina principal */

#registro-vacuna {
    display: flex;
    width: 100%;
}

#texto-registro-vacuna {
    background-color: green;
    flex-grow: 1;
}

#img-registro-vacuna {
    background-color: blue;
    flex-grow: 1;
}